.container
  %form.form-signin.main-form{action: "/search",  method: "post"}
    %input.input-block-level.input-main-form{name: "words", type: "text", placeholder: "Words..."}
    %br
    %button.btn.btn-large.btn-primary.btn-main-form{type: "submit"} Look up