%form.form-inline.well{:action => "/login/attempt", :method => "post"}
  %input{:autofocus => "", :name => "username", :placeholder => "username", :type => "text"}
    %input.btn.primary{:type => "submit", :value => "log in"}