.container
  - unless @queries.nil? || @queries.empty?
    %table.table.table-striped
      - @queries.each do |query|
        %tr
          %td
            %a{href: "/queries/#{query.token}"} #{query.words}
  - else
    %h2 No queries performed